.details{
  
  font-size:50px;
 
  text-align:center;
  
}
body {
        background-color: lightgreen;
    }
h1{
  text-align:center;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:50px;
  
}


img{
  
  padding:1% 25% 1% 25%;
  
}

#text{
   font-family: 'Encode Sans Condensed', sans-serif;
  
  
}
#search1{
  
  padding:1% 25% 1% 35%;
  
  
}
.flex-container{
  
  display:flex;
 justify-content:space-around;
  align-items:center;
  flex-direction:row;
  height:200px;
}
@media screen and (max-width:518px) {
   
  .flex-container{
  
  display:flex;
 justify-content:space-around;
  align-items:center;
  flex-direction:column;
}
  
  
}
select, option {
    width: 251px;
  height:23px;
  border-radius:2px;
}
input{
   height:18px;
   width: 250px;
}
#search{
  height:24px;
   width: 250px;
  
}
